# Intro

As the title indicates, this ipynb aims to import dataframes (features plus labels) and then develop functions / clases to process data, fit models, and make predictions!

# Import data (just for materialHardship)

In [30]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

import sys
import math
# from sklearn.grid_search import GridSearchCV

In [10]:
df_train = pd.read_pickle('df_train')

In [2]:
mean_impute_df_train_with_labels = pd.read_pickle('mean_impute_df_train_with_labels')
median_impute_df_train_with_labels  = pd.read_pickle('median_impute_df_train_with_labels')

In [3]:
final_over_balanced =  pd.read_pickle('final_over_balanced_decimals')

In [4]:
df_prediction =  pd.read_pickle('df_prediction')

Read files from pickles...we are reading full dataframes, with columns of features attached to label columns. Function below is used to split features from class labels and make models and predictions.

In [8]:
median_impute_df_train_with_labels.head()

,challengeID,m1intmon,m1lenhr,m1lenmin,cm1fint,cm1citsm,m1citywt,innatsm,incitysm,m1a3,...,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1,materialHardship
0,6.0,-3.0,0.0,25.0,1.0,1.0,10.593024,1.0,1.0,1.0,...,10.558813,-3.000000,-3.000000,7.022328,-3.000000,10.564085,-3.0,-3.000000,10.255825,1
1,7.0,-3.0,0.0,35.0,1.0,1.0,531.335144,1.0,1.0,1.0,...,-3.000000,9.660643,9.861125,-3.000000,10.991854,-3.000000,-3.0,10.972726,10.859800,0
2,9.0,-3.0,0.0,30.0,1.0,1.0,90.466721,0.0,1.0,1.0,...,-3.000000,11.689877,9.373199,-3.000000,8.194868,-3.000000,-3.0,9.842380,9.566678,2
3,10.0,-3.0,0.0,33.0,1.0,1.0,6.155746,1.0,1.0,1.0,...,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3.0,-3.000000,10.105870,1
4,13.0,-3.0,1.0,-3.0,1.0,1.0,5.496325,0.0,1.0,1.0,...,-3.000000,-3.000000,-3.000000,8.944119,-3.000000,9.781718,-3.0,-3.000000,9.566678,2

In [11]:
df_train.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
5,6,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,8.51570,10.558813,-3.000000,-3.000000,7.022328,-3.000000,10.564085,-3,-3.000000,10.255825
6,7,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.00000,-3.000000,9.660643,9.861125,-3.000000,10.991854,-3.000000,-3,10.972726,10.859800
8,9,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.00000,-3.000000,11.689877,9.373199,-3.000000,8.194868,-3.000000,-3,9.842380,9.566678
9,10,-3,NaN,0,33,NaN,1,NaN,NaN,NaN,...,-3.00000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.105870
12,13,-3,NaN,1,-3,NaN,1,NaN,NaN,NaN,...,10.78074,-3.000000,-3.000000,-3.000000,8.944119,-3.000000,9.781718,-3,-3.000000,9.566678

In [13]:
# df['color'] = np.where(df['Set']=='Z', 'green', 'red')
len(df_train.columns.values)

12943

In [33]:
df_train.head()

,challengeID,m1intmon,m1intyr,m1lenhr,m1lenmin,cm1twoc,cm1fint,cm1tdiff,cm1natsm,m1natwt,...,m4d9,m4e23,f4d6,f4d7,f4d9,m5c6,m5d20,m5k10,f5c6,k5f1
5,6,-3,NaN,0,25,NaN,1,NaN,NaN,NaN,...,8.51570,10.558813,-3.000000,-3.000000,7.022328,-3.000000,10.564085,-3,-3.000000,10.255825
6,7,-3,NaN,0,35,NaN,1,NaN,NaN,NaN,...,-3.00000,-3.000000,9.660643,9.861125,-3.000000,10.991854,-3.000000,-3,10.972726,10.859800
8,9,-3,NaN,0,30,NaN,1,NaN,NaN,NaN,...,-3.00000,-3.000000,11.689877,9.373199,-3.000000,8.194868,-3.000000,-3,9.842380,9.566678
9,10,-3,NaN,0,33,NaN,1,NaN,NaN,NaN,...,-3.00000,-3.000000,-3.000000,-3.000000,-3.000000,-3.000000,10.564085,-3,-3.000000,10.105870
12,13,-3,NaN,1,-3,NaN,1,NaN,NaN,NaN,...,10.78074,-3.000000,-3.000000,-3.000000,8.944119,-3.000000,9.781718,-3,-3.000000,9.566678

In [32]:
# # d['new'] = d.ix[3:].apply(lambda x: )
# def is_not_there(row):
#     if row.isnull():
#         return 1
#     else:
#         return 0
# d['m1intyr'].apply(lambda x: my_func(x) if(np.all(pd.notnull(x[1]))) else x, axis = 1)

# # d['m1intyr'].apply(lambda x: is_not_there(x),axis=1)

In [44]:
from sklearn.cluster import Birch, MiniBatchKMeans
mbk = MiniBatchKMeans(init='k-means++', n_clusters=1000, batch_size=100,
                      n_init=10, max_no_improvement=10, verbose=0,
                      random_state=0)
mbk.fit(median_impute_df_train_with_labels) # took ~10 mins to run

/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/cluster/k_means_.py:1381: RuntimeWarning: init_size=300 should be larger than k=1000. Setting it to 3*k
  init_size=init_size)

MiniBatchKMeans(batch_size=100, compute_labels=True, init='k-means++',
        init_size=None, max_iter=100, max_no_improvement=10,
        n_clusters=1000, n_init=10, random_state=0,
        reassignment_ratio=0.01, tol=0.0, verbose=0)

In [45]:
mbk_means_labels_unique = np.unique(mbk.labels_)

In [46]:
mbk_means_labels_unique #

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 220, 221, 222,
       223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235,
       236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248,
       249, 250, 251, 252, 253, 255, 256, 257, 258, 259, 260, 261, 262,
       263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275,
       276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288,
       289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301,
       302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314,
       315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327,
       328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340,
       341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353,
       354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366,
       367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379,
       380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392,
       393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405,
       406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418,
       419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431,
       433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445,
       446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458,
       459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471,
       472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484,
       485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 498,
       500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 511, 512, 513,
       514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526,
       527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539,
       540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552,
       553, 554, 555, 556, 557, 558, 559, 560, 561, 563, 564, 565, 566,
       567, 568, 569, 570, 571, 572, 573, 574, 576, 577, 578, 579, 580,
       581, 582, 583, 584, 586, 588, 589, 590, 591, 592, 593, 594, 595,
       596, 597, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609,
       610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622,
       623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635,
       636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648,
       649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661,
       662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674,
       675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687,
       688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700,
       701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713,
       714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726,
       727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739,
       740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752,
       753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 765, 766,
       768, 770, 771, 772, 773, 774, 776, 777, 778, 779, 780, 781, 782,
       783, 784, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796,
       797, 798, 800, 803, 804, 806, 807, 808, 809, 810, 811, 812, 813,
       814, 815, 816, 817, 818, 819, 820, 821, 822, 824, 825, 826, 828,
       829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 842,
       843, 844, 845, 846, 847, 848, 849, 850, 851, 853, 854, 855, 856,
       857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869,
       870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882,
       883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895,
       896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908,
       909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921,
       922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934,
       935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947,
       948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960,
       961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973,
       974, 975, 976, 977, 978, 979, 981, 982, 983, 984, 985, 986, 987,
       988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999], dtype=int32)

In [40]:
len(mbk.cluster_centers_[0]) # what are centers...

11985

In [50]:
# median_impute_df_train_with_labels.iloc[0]

In [47]:
mbk.cluster_centers_[0]

array([ 912.        ,   -3.        ,    0.        , ...,   10.9727256 ,
         10.77270512,    0.        ])

In [42]:
median_impute_df_train_with_labels.shape

(1459, 11985)

In [51]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(mbk.cluster_centers_[0],median_impute_df_train_with_labels.iloc[0])

/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([[ 0.41548453]])

In [55]:
len(mbk.labels_)

1459

In [57]:
mbk.labels_

array([686, 648, 849, ..., 509, 979, 203], dtype=int32)

In [59]:
median_impute_df_train_with_labels['family id?'] = mbk.labels_

In [60]:
median_impute_df_train_with_labels['family id?']

0       686
1       648
2       849
3       469
4       386
5       207
6       744
7       502
8       468
9       813
10      920
11      260
12      612
13      865
14      491
15      336
16      901
17      155
18      193
19      579
20      697
21      943
22      955
23      117
24      214
25      348
26      360
27       84
28      458
29      554
       ...
1429    643
1430    388
1431    649
1432    886
1433    695
1434     82
1435    649
1436    758
1437    347
1438    346
1439    315
1440    858
1441    792
1442    616
1443    318
1444    639
1445    793
1446    820
1447    579
1448    339
1449    484
1450    824
1451    844
1452    308
1453    535
1454    896
1455    454
1456    509
1457    979
1458    203
Name: family id?, dtype: int32